@model IEnumerable<Daily_Deep.Models.TransactionData>
@{
    ViewData["Title"] = "Report Page";
}

<div class="text-center">
    <h1>This is Report Area @ViewBag.FullName</h1>
</div>

<div class="container">
    <div class="row">
        <form method="post" asp-action="Report">
            <label>From Date: </label>
            <input type="date" class="form-control" name="fromDate" />
            <lable>To Date: </lable>
            <input type="date" class="form-control" name="toDate" />
            <lable>Type</lable>
            <select name="transactionType">
                <option value="">select</option>
                <option value="Income">Income</option>
                <option value="Expense">Expence</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
</div>

<div class="container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Category</th>
                    <th>Transaction Type</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Income</th>
                    <th>Expense</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.CategoryCode</td>
                            <td class="text-capitalize">@item.TransactionType</td>
                            <td>@item.Description</td>
                            <td>@item.TransactionDate.ToShortDateString()</td>
                            @if(@item.TransactionType == "income"){
                                <td>@item.Amount</td>
                            }else{
                                <td>0.00</td>
                            }
                            @if(@item.TransactionType == "expense"){
                                <td>@item.Amount</td>
                            }else{
                                <td>0.00</td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No transactions found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
